.about {
  background: #ffffff;
  height: 580px;
}

.about p {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 10px;
  line-height: 3px;
}

.about h2 {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-decoration: none;
  margin: 10px;
  line-height: 3px;
}

.about img {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 100%;
  position: sticky;
  overflow: visible;
  border-radius: 100%;
  border: solid 10px #fff;
}
